.map {
    width: 95%;
    height: 95%;
    bottom: 0;
    overflow: hidden;
    border: 1px solid #dddddd;
}
.navbar-collapse {
  overflow: hidden;
}
body {
    padding-top: 70px;
    background-color: #f5f5f5;
}
.scroll {
    overflow-y: scroll;
    height: 70%;
}
.farmScroll {
    overflow-y: scroll;
    height: 30%;
}
.fieldScroll {
    overflow-y: scroll;
    height: 50%;
}
.spinnerSpacing {
    margin-bottom: 15px;
}
.headingPadding {
    padding-bottom: 5px;
}
.textPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.mapboxgl-ctrl-icon.selectfield-ctrl {
    padding: 5px;
    background-image: url('bullseye.svg');
    background-size: 30px 30px;
}
.mapboxgl-ctrl-icon.selectfield-ctrl.active {
    background-color: rgba(0,0,0,0.09);
}
.hidden {
    visibility: hidden;
}
.logo-image {
    padding-top: 5px;
    padding-bottom: 5px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
